body {
    padding: 10px;
}

.listing {
    background-color: lightblue;
    display: grid;
    grid-template-rows: 20% 1fr;
    margin-bottom: 1rem;
    height: 10rem;
}

.listing-title {
    grid-row: 1;
    padding: 5px;
    height: auto;
}

.listing-body {
    grid-row: 2;
    display: grid;
    height: auto;
    grid-template-columns: 20% 1fr;
}

.listing-body img {
    grid-column: 1;
    margin: auto;
    max-width: fit-content;
    max-height: fit-content;
}

.listing-body p {
    grid-column: 2;
}