{% extends "auctions/layout.html" %} {% load static %} {% block body %}
<div class="listing">
  <div class="listing-title">
    <strong> {{ listing.title }}: ${{ listing.startingBid|floatformat:2 }} </strong>
  </div>
  <div class="listing-body">
    {% if listing.imageURL %}
    <img src="{{ listing.imageURL }}" width="50px" height="50px" />
    {% else %}
    <img src="{% static 'images/generic_no_image.jpg' %}" width="50px" height="50px" />
    {% endif %}
    <p>{{ listing.description }}</p>
  </div>
</div>

{% if user.is_authenticated and listing not in user.created_listings.all and listing not in user.watchlist.all and not listing.winner %}
<form class="listing-actions" method="post" action="{% url 'add_to_watchlist' %}">
  {% csrf_token %}
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  <input type="submit" id="watchlist-button" value="Add to watchlist" />
</form>
{% endif %} {% if user.is_authenticated and listing in user.watchlist.all and not listing.winner %}
<form class="listing-actions" method="post" action="{% url 'add_to_watchlist' %}">
  {% csrf_token %}
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  <input type="submit" id="watchlist-button" value="Remove from watchlist" />
</form>
{% endif %} {% if user.is_authenticated and listing not in user.created_listings.all and not listing.winner %}
<form class="bid-actions" method="post" action="{% url 'bid' status=1 %}">
  {% csrf_token %}

  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  <input type="number" name="bid_amount" id="bid-amount" placeholder="Enter a bid" />
  <input type="submit" id="submit-bid" value="Submit bid" />
</form>
{% endif %} {% if user.is_authenticated and listing in user.created_listings.all and not listing.winner %}
<form class="listing-actions" method="post" action="{% url 'close' %}">
  {% csrf_token %}
  <input type="submit" id="close-bid" value="Close bid" />
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
</form>
{% endif %} {% if user.is_authenticated and listing.winner and user != listing.winner %}
<h1>listing sold, sorry</h1>
{% endif %} {% if user.is_authenticated and listing.winner and listing.winner == user %}
<h1>You won this listing!</h1>
{% endif %} {% if user.is_authenticated %}
<form class="comment-form" method="post" action="{% url 'comment' %}">
  {% csrf_token %}
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  <input type="textarea" name="comment_body" id="comment-body" />
</form>
{% for comment in comments %}
<div class="comment">
  <h6>{{ comment.user }} — {{ comment.postedTime }}</h6>
  <p>{{ comment.commentBody }}</p>
</div>
{% endfor %} {% endif %} {% endblock %}
